/*----General Styles---------*/
.u--flex-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.u--nowrap  {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.u--wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.u--wrap-reverse         {
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}
.u--row{
    display: grid;
}

.u--grid-2-col{
    gap: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.u--grid-3-col{
    gap: 20px;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}

/*---Form----*/

.form-table .checkbox_multi{display: block;}

#u_next_story_settings #scroll_position_unit{
    width: 80px;
    min-width: 50px;
}
.select2-container {
    margin: 0 2px 0 2px;
    display: block;}
.tablenav.top #doaction, #doaction2, #post-query-submit {margin: 0px 4px 0 4px;}

#u_next_story_rules_table .edit-rule{
    background: #fff;
}
.edit-rule td{
    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #dcdcde;
}
.edit-rule .wp-picker-holder{
    position: absolute;
    z-index: 99;
}
.edit-rule h3{
    color: #333;
    margin: 1.33em 0 0;
}
.edit-rule .form-field{
    width: 100%;
    clear: both;
    padding: 0;
    margin: 9px 0 0;
}
.edit-rule .form-field > label {
    display: block;
    padding: 0 0 3px;
}
.edit-rule .form-field label:first-child{
    font-weight: 600;
}
.edit-rule .form-field input + label{
    display: inline-block;
    font-weight: normal !important;
    margin-top: -6px;
}

.edit-rule input[type=text],
.edit-rule input[type=search],
.edit-rule input[type=tel],
.edit-rule input[type=time],
.edit-rule input[type=url],
.edit-rule input[type=week],
.edit-rule input[type=password],
.edit-rule input[type=color],
.edit-rule input[type=date],
.edit-rule input[type=datetime],
.edit-rule input[type=datetime-local],
.edit-rule input[type=email],
.edit-rule input[type=month],
.edit-rule textarea {
    width: 95%;
}

.edit-rule input[type=number]{
    width: auto;
}
#u_next_story_settings select{
    min-width: 50%;
}
#u_next_story_settings .edit-rule select{
    width: 95%;
}

#rule_title{
    width: 100%;
    outline: 0;
    background-color: #fff;

    padding: 2px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
}


#u_next_story_rules_table .column-actions button {
    margin-left: 4px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
}
#u_next_story_rules_table .column-actions button:hover {
    border-color: #008EC2;
    background: #00a0d2;
    color: #fff;
}
